<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
    <!-- Available connection strings.-->
    <add name="playersDB"
         providerName="System.Data.Sql"
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=players;
         Integrated Security=SSPI;Connect Timeout=10;Trusted_Connection=Yes;"/>
  </connectionStrings>
</configuration>