<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="playersDB"
         providerName="System.Data.Sql"
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=players;
         Integrated Security=SSPI;Connect Timeout=10;Trusted_Connection=Yes;"/>
  </connectionStrings>
</configuration>